#language_picker {
float: left;
margin-left: 1px;
height: 50px; 
width: 49%;
background-color: #0000FF;
color: #FFFFFF;
}

#num_per_page {
text-align: right;
float: left;
margin-left: 1px;
height: 50px;
width: 50%; 
background-color: #0000FF;
color: #FFFFFF;
}

H1 {
margin-left: auto;
margin-right: auto;
width: 20%;
background-color: #0000FF;
color: #FFFFFF;

text-align: center;
}