#language_picker {
float: left;
margin-left: 0px;
height: 70px; 
width: 50%;
background-color: #0000FF;
color: #FFFFFF;
}

#num_per_page {
text-align: left;
float: left;
margin-left: 0px;
height: 70px;
width: 50%; 
background-color: #0000FF;
color: #FFFFFF;
}

H1 {
margin-left: auto;
margin-right: auto;
width: 40%;
color: #0000FF;
text-align: center;
}

H2 {
color:#FF0000;
}

#Gist_received {
float: left;
margin-left: 1px;
width: 49%;
height: auto;
}

#Gist_favorite {
float: left;
margin-left: 1px;
width: 50%;
height: auto;
}

#resultDiv {
background-color: #00FF00;
}
